---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import { Image, getImage } from "astro:assets";

import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import H1 from "../../components/H1.astro";
import TableOfContents from "../../components/TableOfContents.astro";
import Share from "../../components/Share.astro";
import Section from "../../components/Section.astro";
import PaddingTopForPages from "../../components/PaddingTopForPages.astro";
import Category from "../../components/Category.astro";

import PostList from "../../components/PostList.astro";
import Pagination from "../../components/Pagination.astro";
import CategoryList from "../../components/CategoryList.astro";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");

  const allCategories = posts.flatMap((post) => post.data.categories);
  const categories = Array.from(new Set(allCategories));

  const paths = categories.map((category) => {
    const postByCategory = posts.filter((post) =>
      post.data.categories.includes(category)
    );
    return {
      params: {
        slug: category,
      },
      props: {
        category,
        posts: postByCategory,
      },
    };
  });

  return paths;
};

type Props = {
  category: string;
  posts: CollectionEntry<"posts">[];
};

const { category, posts } = Astro.props;

// const { Content, headings } = await post.render();

// const coverImageSource = (await getImage({ src: post.data.image })).src;

// Lettertype - Garamond is voor titels en Rubik voor tekst
const Garamond = "font-serif";
const Rubik = "font-sans";
---

<Layout
  title="Blog - De kern met Jordi"
  description="Lees alles over spiritualiteit in deze blog bij De kern met Jordi"
>
  <Section>
    <PaddingTopForPages>
      <a href="/blog" class="text-2xl mb-16 underline block"
        >← Terug naar alle blogs</a
      >
      <h1 class="text-5xl font-bold mb-5 font-heading">
        Blog - De kern met Jordi
      </h1>
      <p class="text-2xl mb-24 max-sm:mb-14">
        Lees alles over spiritualiteit in deze blog bij De kern met Jordi
      </p>
      <div
        class="grid grid-cols-[auto,1fr] gap-x-14 gap-y-3 mb-16 max-lg:grid-cols-1"
      >
        <h2 class="font-bold text-5xl">Tags</h2>
        <CategoryList categories={[category]} />
      </div>
      <div class="mb-12">
        <Pagination nextURL="/blog/2" />
      </div>
      <PostList posts={posts} />
      <div class="mb-36">
        <Pagination nextURL="/blog/2" />
      </div>
    </PaddingTopForPages>
  </Section>
</Layout>
