body, html, .smilejet-general-content {
    font-family: "eb-garamond";
    /* font-size: 1.125rem; */
    font-size: 1.125rem !important;
    line-height: 1.35;
    color: #333;
}

input, select, textarea {
    font-family: "eb-garamond";
    font-size: 1.125rem;
    color: #333;
}

.smilejet-general-content h1 {
    color: #333;
    font-size: 33.75px;
}

.prod-primary-button {
    position: relative;
    /* min-height: 200px; */
    background-image: linear-gradient(to right, #e28f50, #c2783f);
    z-index: 1;
  }

  .prod-primary-button::before {
    /* position: absolute; */
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #c2783f, #c2783f);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
  }
  .prod-primary-button:hover::before {
    opacity: 1;
  }