---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import heartbeat from "../../public/heartbeat.png";
// import logo_with_no_background from "../../public/images/Logo_zonder_achtergrond(1).svg";
import logo_with_no_background from "../../public/images/Logo_zonder_achtergrond.png";
import Logo from "./Logo.astro";

// Lettertype - Garamond is voor titels en Rubik voor tekst
const Garamond = "font-serif";
const Rubik = "font-sans";

// Merk kleurencode. Gebruik bg-brand-white in class om toe te passen.
// "brand-white": "#F1F1F1",
// "brand-sage": "#BCBC82",
// "brand-copper": "#C2783F",

const { titleCTA, descriptionUnderCTATitle, descriptionCTA } = Astro.props;
---

<style>
  .diagonal {
    position: relative;
  }
  .diagonal::after {
    content: "";
    /* background-color: steelblue; */
    background-color: #bcbc82;
    position: absolute;
    inset: 0;
    transform: skewY(-4deg);
    z-index: -1;
  }

  .small-caps {
    font-variant: small-caps;
    font-weight: 600;
  }

  .gradient-btn {
    position: relative;
    /* min-height: 200px; */
    background-image: linear-gradient(to right, #e28f50, #c2783f);
    z-index: 1;
  }

  .gradient-btn::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #c2783f, #c2783f);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
  }
  .gradient-btn:hover::before {
    opacity: 1;
  }
</style>

<section class="py-20 diagonal">
  <div class="container px-4 mx-auto">
    <h2 class=`mb-8 md:mb-16 text-5xl lg:text-6xl font-semibold font-heading `>
      {titleCTA}
    </h2>
    <div class="flex flex-wrap items-center">
      <div class="inline-block max-w-xl mb-6 md:mb-0">
        <p class=`text-xl `>{descriptionUnderCTATitle}</p>
        <!-- <p class="text-xl text-gray-500">
          We'll see if we're a match and how we can help each other.
        </p> -->
      </div>
      <a
        onclick="return gtag_report_conversion('https://calendar.app.google/oHow2Z6mhSpUVwQUA');"
        class=`small-caps inline-block ml-auto w-full md:w-auto px-12 py-4 text-center leading-normal rounded gradient-btn`
        href="https://calendar.app.google/oHow2Z6mhSpUVwQUA">{descriptionCTA}</a
      >
    </div>
  </div>
</section>
