---
import type { CollectionEntry } from "astro:content";
import Category from "./Category.astro";
type Props = {
  categories: CollectionEntry<"posts">["data"]["categories"];
  title?: string;
};

const { categories, title } = Astro.props;
---

<div class="flex gap-4 flex-wrap items-center">
  {categories.map((category) => <Category category={category} />)}
</div>
