---
import { Image } from "astro:assets";
import Isabella from "../../public/images/Isabella.jpg";
import logo_with_no_background from "../../public/images/Logo_zonder_achtergrond.png";
import Logo from "./Logo.astro";
import DiscordIcon from "./DiscordIcon.astro";
import SpotifyIcon from "./SpotifyIcon.astro";
import YoutubeIcon from "./YoutubeIcon.astro";
import Privacy_statement from "../../public/images/privacy_statement_14-02-2024.pdf";

// Lettertype - Garamond is voor titels en Rubik voor tekst
const Garamond = "font-serif";
const Rubik = "font-sans";

// Merk kleurencode. Gebruik bg-brand-white in class om toe te passen.
// "brand-white": "#F1F1F1",
// "brand-sage": "#BCBC82",
// "brand-copper": "#C2783F",
---
<section class="py-12 lg:py-20">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full lg:w-1/3 px-4 mb-6 lg:mb-0">
        <a
          class="inline-block mb-5 text-lg font-semibold"
        >
          <Logo>
        </a>
        <p class=`mb-6 max-w-sm text-base`>
          Daadkracht, empathie en tot de kern komen
        </p>
        <div class="flex">
          <a
            class="flex justify-center items-center w-10 h-10 mr-4 bg-gray-50 rounded-full"
            href="https://open.spotify.com/show/77ko5J6jfeXGoTwybpItY2?si=f0f29e8ecf0745ef" target="_blank"
          >
          <SpotifyIcon/>
          </a>
          <a
            class="flex justify-center items-center w-10 h-10 bg-gray-50 rounded-full"
            href="https://www.youtube.com/@DekernmetJordi" target="_blank"
          >
          <YoutubeIcon>
          </a>
        </div>
      </div>
      <div class="w-full lg:w-2/3 px-4">
        <div class="flex flex-wrap justify-between -mx-4">
          <div class="w-1/2 lg:w-1/4 px-4 mb-8 lg:mb-0">
            <h3 class=`mb-6 text-base font-medium `>Bedrijf</h3>
            <ul class="text-sm">
              <li class="mb-4">
                <a
                  class=`hover:text-neutral-500`
                  href="/over-jordi">Over Jordi</a
                >
              </li>
              <li class="mb-4">
                <a
                  class=`hover:text-neutral-500`
                  href="#">Algemene voorwaarden</a
                >
              </li>
              <li class="mb-4">
                <a
                  class=`hover:text-neutral-500`
                  href={Privacy_statement}
                  target="_blank">Privacy</a
                >
              </li>
              <li>
                <a
                  class=`hover:text-neutral-500`
                  href="#">Cookies</a
                >
              </li>
            </ul>
          </div>
          <div class="w-1/2 lg:w-1/4 px-4 mb-8 lg:mb-0">
            <h3 class=`mb-6 text-base font-medium `>
              Wat wij aanbieden
            </h3>
            <ul class="text-sm">
              <li class="mb-4">
                <a
                  class=`hover:text-neutral-500`
                  href="/de-manieren/#tarot">Tarot</a
                >
              </li>
              <li class="mb-4">
                <a
                  class=`hover:text-neutral-500`
                  href="/de-manieren/#reiki">Reiki</a
                >
              </li>
              <li class="mb-4">
                <a
                  class=`hover:text-neutral-500`
                  href="/de-manieren/#human-design">Human Design</a
                >
              </li>
            </ul>
          </div>
          <div class="w-1/2 lg:w-1/4 px-4 mb-8 lg:mb-0">
            <h3 class=`mb-6 text-base font-medium `>
              Openingstijden
            </h3>
            <ul class="text-sm">
              <li class="mb-4">
                <a
                  class=``>Ma: gesloten</a
                >
              </li>
              <li class="mb-4">
                <a
                  class=``>Di: 18:30 tot 21:00</a
                >
              </li>
              <li class="mb-4">
                <a
                  class=``>Wo: gesloten</a
                >
              </li>
              <li class="mb-4">
                <a
                  class=``>Do: gesloten</a
                >
              </li>
              <li class="mb-4">
                <a
                  class=``>Vr: 09:00 tot 21:00</a
                >
              </li>
              <li class="mb-4">
                <a
                  class=``>Za: 09:00 tot 13:00</a
                >
              </li>
              <li class="mb-4">
                <a
                  class=``>Zo: 09:00 tot 13:00</a
                >
              </li>
            </ul>
          </div>
          <div class="w-1/2 lg:w-1/4 px-4">
            <h3 class=`mb-6 text-base font-medium `>Contact</h3>
            <ul class="text-sm">
              <li class="mb-4">
                <a
                  class=`hover:text-neutral-500`
                  href="mailto:info@dekernmetjordi.com">Mail: info@dekernmetjordi.com</a
                >
              </li>
              <li class="mb-4">
                <a
                  class=``>Kvk: 86884298</a
                >
              </li>
              <li class="mb-4">
                <a
                  class=``>BTW: NL004333911B29</a
                >
              </li>
              <li>
                <a
                  class=`hover:text-neutral-500`
                  href="/contact">Contactpagina</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class=`text-center text-sm text-neutral-950 pt-8 px-4 `>
    All rights reserved © De kern met Jordi 2024
  </p>
</section>
