---
import { Image } from "astro:assets";
import heartbeat from "../../public/heartbeat.png";
import logo_with_no_background from "../../public/images/Logo_zonder_achtergrond.png";
import HeroBanner from "./HeroBanner.astro";
import AboutMeHomepage from "./AboutMeHomepage.astro";
import Testimonials from "./Testimonials.astro";
import Features from "./Features.astro";

// Lettertype - Garamond is voor titels en Rubik voor tekst
const Garamond = "font-serif";
const Rubik = "font-sans";
---

<!-- <main class="px-24 max-sm:px-5 max-w-7xl mx-auto w-full"> -->
<main>
  <slot />
</main>
