---
import { Image } from "astro:assets";
import Jordi from "../../public/images/Jordi_coachen_kleiner.jpg";

// Lettertype - Garamond is voor titels en Rubik voor tekst
const Garamond = "font-serif";
const Rubik = "font-sans";

// Merk kleurencode. Gebruik bg-brand-white in class om toe te passen.
// "brand-white": "#F1F1F1",
// "brand-sage": "#BCBC82",
// "brand-copper": "#C2783F",
// "brand-orange": "#E28F50",

// background: linear-gradient(to right, #3a190c, #8b4b2a, #C2783F, #8b4b2a, #3a190c);
---

<!-- <style>
  /* h1 {
    color: red;
  } */
  #mlb2-14100582.ml-form-embedContainer
    .ml-form-embedWrapper
    .ml-form-embedBody
    .ml-form-embedContent
    h4,
  #mlb2-14100582.ml-form-embedContainer
    .ml-form-embedWrapper
    .ml-form-successBody
    .ml-form-successContent
    h4 {
    color: #111827;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 10px 0;
    text-align: left;
    word-break: break-word;
  }
</style> -->

<!-- <script>
  console.log("Broek");
  window.onload = function(){
    console.log("tas")
    const brief = document.querySelectorAll(".brief");
    const h4 = document.querySelectorAll("h4");
    const p = document.querySelectorAll("p");
    const button = document.querySelector(".primary");
    const span = document.querySelectorAll("span");
    const div = document.querySelectorAll("div");
    const input = document.querySelectorAll("input");

    // brief.style.fontFamily = "font-sans";
    // h4.style.fontFamily = "font-sans";
    // p.style.fontFamily = "font-sans";
    button.style.fontFamily = "font-sans";
    // span.style.fontFamily = "font-sans";
    // div.style.fontFamily = "font-sans";

    console.log(button);

    h4.forEach(element => {
      // console.log(element)
      element.style.fontFamily = "font-sans";
    })

    p.forEach(element => {
      // console.log(element)
      element.style.fontFamily = "font-sans";
    })

    span.forEach(element => {
      // console.log(element)
      element.style.fontFamily = "font-sans";
    })

    // button.forEach(element => {
    //   console.log(element)
    //   element.style.fontFamily = "font-sans";
    // })

    div.forEach(element => {
      // console.log(element)
      element.style.fontFamily = "font-sans";
    })

    input.forEach(element => {
      // console.log(element)
      element.style.fontFamily = "font-sans";
    })

  }
</script> -->

<section class="relative font-sans brief">
  <div class="container px-2 mx-auto">
    <!-- bg-gray-50 -->
    <div class="bg-brand-sage py-5 px-10 rounded-xl">
      <!-- mb-6 py-6 px-6 -->
      <div class=`rounded-xl bg-brand-white`>
        <div class="flex flex-wrap -mx-4">
          <div class="w-full px-4 mb-4 lg:mb-0">
            <div class="ml-embedded" data-form="wySunU"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
