---
import { Image } from "astro:assets";
import Debbie from "../../public/images/Debbie.jpg";

// Lettertype - Garamond is voor titels en Rubik voor tekst
const Garamond = "font-serif";
const Rubik = "font-sans";

// Merk kleurencode. Gebruik bg-brand-white in class om toe te passen.
// "brand-white": "#F1F1F1",
// "brand-sage": "#BCBC82",
// "brand-copper": "#C2783F",
---

<!-- De foto van Debbie dient een gouden glow te hebben net als een engel -->
<style>
  .Debbie {
    /* height: 100%; */
    /* width: 300px; */
    border-radius: 50% 5%;
    /* border: 20px groove #f1f1f1; */
  }
</style>

<section class="relative py-20 bg-brand-white">
  <div class="container px-4 mx-auto">
    <div class="flex flex-wrap items-center -mx-4">
      <div class="relative w-full lg:w-5/12 px-4 order-last lg:order-first">
        <!-- eerst ook met class h-96 lg:h-112 -->
        <Image
          class="mx-auto mt-10 lg:mt-0 object-cover Debbie"
          src={Debbie}
          alt="Debbie Bergmann"
        />
      </div>
      <div class="w-full lg:w-7/12 px-4">
        <div class="max-w-xl lg:ml-auto">
          <span class="inline-block mb-10">
            <svg
              width="48"
              height="48"
              viewbox="0 0 48 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M26 29.45C26 19.3858 33.4577 8.86747 45.2297 6.16443C45.6793 6.0612 46.1364 6.29467 46.3301 6.71327L47.5161 9.27572C47.7602 9.80299 47.5031 10.4238 46.9877 10.692C43.3044 12.608 40.1644 17.1966 39.3647 20.8059C39.2493 21.3268 39.6241 21.8042 40.1413 21.9351C44.6581 23.0784 48 27.1681 48 32.042C48 38.406 42.832 42 37.602 42C31.572 42 26 37.39 26 29.45ZM0 29.45C0 19.3858 7.45772 8.86747 19.2297 6.16443C19.6793 6.0612 20.1364 6.29467 20.3301 6.71327L21.5161 9.27572C21.7602 9.80299 21.5031 10.4238 20.9877 10.692C17.3044 12.608 14.1644 17.1966 13.3647 20.8059C13.2493 21.3268 13.6241 21.8042 14.1413 21.9351C18.6581 23.0784 22 27.1681 22 32.042C22 38.406 16.832 42 11.602 42C5.572 42 0 37.39 0 29.45Z"
                fill="#000000"></path>
            </svg>
          </span>
          <h2 class=`mb-10 text-4xl font-semibold font-heading `>
            Jordi is een heel bijzonder mens, met veel potentie en met een
            speciale missie
          </h2>
          <p class=`mb-10 text-xl`>
            Ik heb Jordi leren kennen in mijn praktijk. Hij bezocht mijn
            praktijk en sindsdien is er een hechte interactie tussen ons
            ontstaan, mede doordat jordi de lessen bij mij volgt op Tarotgebied,
            Human Design en de Genekeys.
          </p>
          <p class="mb-10 text-xl">
            Jordi is volledig authentiek, snel schakelend, nieuwsgierig,
            leergierig, helder voelend, tikje confronterend, maar dat maakt hem
            juist zo interessant. Zijn pad is er één van ervaringen opdoen,
            onderzoek, informatie vergarend, oriënteren, vergelijken en
            uiteindelijk een voorbeeld voor velen. Eerst alles zelf meemaken,
            doorvoelen, doorleven en daardoor anderen kunnen begeleiden, helpen
            en healen. Ik wist al snel dat hij een heel bijzonder mens is, met
            veel potentie en met een speciale missie. Ik ben vereerd dat ik een
            steentje mag bijdragen aan zijn missie. Inmiddels is Jordi flink op
            weg deze missie te realiseren en ik ben dan ook trots op de groei
            die hij heeft doorgemaakt en nieuwsgierig naar wat er allemaal nog
            gaat komen. Dat er nog meer gaat komen is niet de vraag maar
            wanneer!!
          </p>
          <p class=`mb-3 text-2xl font-semibold font-heading `>
            Debbie Bergmann
          </p>
          <p class=``>Eigenaar praktijk Tian Tang</p>
        </div>
      </div>
    </div>
  </div>
</section>
