---
import WhatsappButtonIcon from "./WhatsappButtonIcon.astro";
import { Image } from "astro:assets";
import Jordi from "../../public/images/Jordi_coachen_kleiner.jpg";
import WhatsappButton from "../../public/images/WhatsAppButtonGreenLarge.png";
---

<!-- <a aria-label="Chat on WhatsApp" href="https://wa.me/+31639556179"
  ><Image alt="Chat on WhatsApp" src={WhatsappButtonIcon} />
  <a></a></a
> -->
<a class="fixed bottom-5 right-5 p-5" aria-label="Chat om WhatsApp" href="https://wa.me/+31639556179" target="_blank">
  <!-- <img alt="Chat on WhatsApp" src={Jordi} /> -->
  <!-- <Image class="fixed bottom-5 right-5 p-10" src={WhatsappButton} alt="Jordi de coach aan tafel met een klant" /> -->
  <WhatsappButtonIcon />
  <a></a></a
>


