---
import WhatsappButtonIcon from "./WhatsappButtonIcon.astro";
import { Image } from "astro:assets";
import Jordi from "../../public/images/Jordi_coachen_kleiner.jpg";
import WhatsappButton from "../../public/images/WhatsAppButtonGreenLarge.png";

// const text = "Hoi, leuk dat je een bericht hebt gestuurd. Ik zal zo snel mogelijk reageren. Tot snel!"

// const text = "Ik%20ben%20geïnteresseerd%20in%20uw%20aangeboden%20auto"

---

<a aria-label="Chat on WhatsApp" href=`https://wa.me/+31639556179`> <a></a></a>
<a
  class="fixed bottom-5 right-5 p-5"
  aria-label="Chat om WhatsApp"
  href="https://wa.me/+31639556179"
  target="_blank"
>
  <WhatsappButtonIcon />
  <a></a></a
>
